body {
  display:flex;
  justify-content:center;
}

.col-lg-12 {
  height:40px;

}
.display {
  max-width: 80%;
  top: 10%;
  left: 10%;
  right:10%;
} 
.bottom {
  max-width:80%;
}

.img-responsive {
  border-radius:50px;
}

.img-responsive:hover {
  opacity:0.5;

} 
